<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="utf-8">
    <title>Template</title>
    <link rel="stylesheet" type="text/css" href="shared/elements/gaia-icons/style.css" />

    <style>
      body {
          margin:0;
          padding:10px 20px;
          background:#fff;
          color:#222;
          }
      h1, div, footer {
          font-family:"Helvetica Neue", Arial, sans-serif;
          }
      h1 {
          margin:20px 0 10px;
          font-size:30px;
          font-weight:normal;
          }
      .icons__item,
      .icons__item i {
          line-height: 30px;
          cursor:pointer;
          }
      .icons__item:hover {
          color:#3c90be;
          }
      .icons__item i {
          position: static;
          padding-right: 40px;
          text-rendering:optimizeLegibility;
          -webkit-font-smoothing:antialiased;
          -moz-osx-font-smoothing:grayscale;
      }
      footer {
          margin-top:40px;
          font-size:14px;
          color:#999;
          }

      i { font-style: normal; }
    </style>

    <script src="js/template.js"></script>
  </head>

  <body class="ligature-icons">
                <span><i class=" icon-accessibility">accessibility</i></span>
                <span><i class=" icon-add-contact">add-contact</i></span>
                <span><i class=" icon-add">add</i></span>
                <span><i class=" icon-airplane">airplane</i></span>
                <span><i class=" icon-alarm-full">alarm-full</i></span>
                <span><i class=" icon-alarm-stop">alarm-stop</i></span>
                <span><i class=" icon-alarm">alarm</i></span>
                <span><i class=" icon-album">album</i></span>
                <span><i class=" icon-all-day">all-day</i></span>
                <span><i class=" icon-arrow-back">arrow-back</i></span>
                <span><i class=" icon-arrow-forward">arrow-forward</i></span>
                <span><i class=" icon-artist">artist</i></span>
                <span><i class=" icon-attachment">attachment</i></span>
                <span><i class=" icon-back">back</i></span>
                <span><i class=" icon-battery-low">battery-low</i></span>
                <span><i class=" icon-battery-very-low">battery-very-low</i></span>
                <span><i class=" icon-battery">battery</i></span>
                <span><i class=" icon-bluetooth">bluetooth</i></span>
                <span><i class=" icon-brightness">brightness</i></span>
                <span><i class=" icon-calendar">calendar</i></span>
                <span><i class=" icon-call-bluetooth">call-bluetooth</i></span>
                <span><i class=" icon-call-hang-up">call-hang-up</i></span>
                <span><i class=" icon-call-hold">call-hold</i></span>
                <span><i class=" icon-call-incoming">call-incoming</i></span>
                <span><i class=" icon-call-merge">call-merge</i></span>
                <span><i class=" icon-call-missed">call-missed</i></span>
                <span><i class=" icon-call-outgoing">call-outgoing</i></span>
                <span><i class=" icon-call-reversed">call-reversed</i></span>
                 <span><i class=" icon-call">call</i></span>
                 <span><i class=" icon-camera">camera</i></span>
                <span><i class=" icon-change-wallpaper">change-wallpaper</i></span>
                <span><i class=" icon-clear-input">clear-input</i></span>
                 <span><i class=" icon-close">close</i></span>
                 <span><i class=" icon-compose">compose</i></span>
                <span><i class=" icon-contact-find">contact-find</i></span>
                 <span><i class=" icon-contacts">contacts</i></span>
                 <span><i class=" icon-crashed">crashed</i></span>
                <span><i class=" icon-crop-1x1">crop-1x1</i></span>
                <span><i class=" icon-crop-2x3">crop-2x3</i></span>
                <span><i class=" icon-crop-3x2">crop-3x2</i></span>
                <span><i class=" icon-crop-free">crop-free</i></span>
                 <span><i class=" icon-crop">crop</i></span>
                 <span><i class=" icon-data">data</i></span>
                 <span><i class=" icon-delete">delete</i></span>
                 <span><i class=" icon-developer">developer</i></span>
                <span><i class=" icon-device-info">device-info</i></span>
                 <span><i class=" icon-dialpad">dialpad</i></span>
                <span><i class=" icon-dismiss-keyboard">dismiss-keyboard</i></span>
                <span><i class=" icon-do-not-track">do-not-track</i></span>
                 <span><i class=" icon-download">download</i></span>
                <span><i class=" icon-edit-contact">edit-contact</i></span>
                <span><i class=" icon-edit-image">edit-image</i></span>
                 <span><i class=" icon-edit">edit</i></span>
                <span><i class=" icon-email-forward">email-forward</i></span>
                <span><i class=" icon-email-mark-read">email-mark-read</i></span>
                <span><i class=" icon-email-mark-unread">email-mark-unread</i></span>
                <span><i class=" icon-email-move">email-move</i></span>
                <span><i class=" icon-email-reply">email-reply</i></span>
                 <span><i class=" icon-email">email</i></span>
                 <span><i class=" icon-exclamation">exclamation</i></span>
                 <span><i class=" icon-expand">expand</i></span>
                 <span><i class=" icon-facebook">facebook</i></span>
                 <span><i class=" icon-feedback">feedback</i></span>
                 <span><i class=" icon-find">find</i></span>
                 <span><i class=" icon-firefox">firefox</i></span>
                 <span><i class=" icon-flag">flag</i></span>
                <span><i class=" icon-flash-auto">flash-auto</i></span>
                <span><i class=" icon-flash-off">flash-off</i></span>
                <span><i class=" icon-flash-on">flash-on</i></span>
                <span><i class=" icon-focus-locked">focus-locked</i></span>
                <span><i class=" icon-focus-locking">focus-locking</i></span>
                 <span><i class=" icon-forward">forward</i></span>
                 <span><i class=" icon-gesture">gesture</i></span>
                 <span><i class=" icon-gmail">gmail</i></span>
                <span><i class=" icon-grid-circular">grid-circular</i></span>
                 <span><i class=" icon-grid">grid</i></span>
                <span><i class=" icon-hdr-boxed">hdr-boxed</i></span>
                 <span><i class=" icon-hdr">hdr</i></span>
                 <span><i class=" icon-help">help</i></span>
                 <span><i class=" icon-homescreen">homescreen</i></span>
                <span><i class=" icon-incoming-sms">incoming-sms</i></span>
                 <span><i class=" icon-info">info</i></span>
                 <span><i class=" icon-keyboard">keyboard</i></span>
                 <span><i class=" icon-languages">languages</i></span>
                 <span><i class=" icon-link">link</i></span>
                 <span><i class=" icon-location">location</i></span>
                 <span><i class=" icon-lock">lock</i></span>
                <span><i class=" icon-media-storage">media-storage</i></span>
                 <span><i class=" icon-menu">menu</i></span>
                 <span><i class=" icon-messages">messages</i></span>
                 <span><i class=" icon-mic">mic</i></span>
                 <span><i class=" icon-minus">minus</i></span>
                 <span><i class=" icon-more">more</i></span>
                 <span><i class=" icon-mute">mute</i></span>
                 <span><i class=" icon-network">network</i></span>
                 <span><i class=" icon-nfc">nfc</i></span>
                <span><i class=" icon-no-favicon">no-favicon</i></span>
                 <span><i class=" icon-notifications">notifications</i></span>
                <span><i class=" icon-outgoing-sms">outgoing-sms</i></span>
                 <span><i class=" icon-outlook">outlook</i></span>
                 <span><i class=" icon-pause">pause</i></span>
                <span><i class=" icon-picture-size">picture-size</i></span>
                 <span><i class=" icon-play">play</i></span>
                 <span><i class=" icon-playlist">playlist</i></span>
                 <span><i class=" icon-privacy">privacy</i></span>
                 <span><i class=" icon-radio">radio</i></span>
                <span><i class=" icon-recent-calls">recent-calls</i></span>
                 <span><i class=" icon-reload">reload</i></span>
                <span><i class=" icon-repeat-once">repeat-once</i></span>
                 <span><i class=" icon-repeat">repeat</i></span>
                <span><i class=" icon-reply-all">reply-all</i></span>
                 <span><i class=" icon-rotate">rotate</i></span>
                 <span><i class=" icon-scene">scene</i></span>
                <span><i class=" icon-sd-card">sd-card</i></span>
                 <span><i class=" icon-search">search</i></span>
                <span><i class=" icon-secure-unverified">secure-unverified</i></span>
                 <span><i class=" icon-secure">secure</i></span>
                <span><i class=" icon-seek-back">seek-back</i></span>
                <span><i class=" icon-seek-forward">seek-forward</i></span>
                 <span><i class=" icon-select">select</i></span>
                <span><i class=" icon-self-timer">self-timer</i></span>
                 <span><i class=" icon-send">send</i></span>
                 <span><i class=" icon-settings">settings</i></span>
                 <span><i class=" icon-share">share</i></span>
                 <span><i class=" icon-shuffle">shuffle</i></span>
                <span><i class=" icon-sim-toolkit">sim-toolkit</i></span>
                 <span><i class=" icon-sim">sim</i></span>
                <span><i class=" icon-skip-back">skip-back</i></span>
                <span><i class=" icon-skip-forward">skip-forward</i></span>
                 <span><i class=" icon-sms">sms</i></span>
                 <span><i class=" icon-songs">songs</i></span>
                <span><i class=" icon-sound-max">sound-max</i></span>
                <span><i class=" icon-sound-min">sound-min</i></span>
                <span><i class=" icon-sound-mute">sound-mute</i></span>
                 <span><i class=" icon-sparkle">sparkle</i></span>
                <span><i class=" icon-star-empty">star-empty</i></span>
                <span><i class=" icon-star-full">star-full</i></span>
                 <span><i class=" icon-stop">stop</i></span>
                 <span><i class=" icon-storage">storage</i></span>
                 <span><i class=" icon-switch">switch</i></span>
                 <span><i class=" icon-sync">sync</i></span>
                 <span><i class=" icon-tethering">tethering</i></span>
                 <span><i class=" icon-tick">tick</i></span>
                 <span><i class=" icon-time">time</i></span>
                <span><i class=" icon-toggle-camera-front">toggle-camera-front</i></span>
                <span><i class=" icon-toggle-camera-rear">toggle-camera-rear</i></span>
                <span><i class=" icon-topup-with-code">topup-with-code</i></span>
                 <span><i class=" icon-topup">topup</i></span>
                 <span><i class=" icon-twitter">twitter</i></span>
                <span><i class=" icon-undo-circular">undo-circular</i></span>
                <span><i class=" icon-undo">undo</i></span>
                <span><i class=" icon-unlock">unlock</i></span>
                <span><i class=" icon-update-balance">update-balance</i></span>
                <span><i class=" icon-usb">usb</i></span>
                <span><i class=" icon-user">user</i></span>
                <span><i class=" icon-vibrate">vibrate</i></span>
                <span><i class=" icon-video-size">video-size</i></span>
                <span><i class=" icon-video">video</i></span>
                <span><i class=" icon-voicemail">voicemail</i></span>
                <span><i class=" icon-wallpaper">wallpaper</i></span>
                <span><i class=" icon-wand">wand</i></span>
                <span><i class=" icon-wifi-1">wifi-1</i></span>
                <span><i class=" icon-wifi-2">wifi-2</i></span>
                <span><i class=" icon-wifi-3">wifi-3</i></span>
                <span><i class=" icon-wifi-4">wifi-4</i></span>
                <span><i class=" icon-wifi-5">wifi-5</i></span>
                <span><i class=" icon-wifi-permissions">wifi-permissions</i></span>
      </body>

</html>
